extends ./layouts/common.pug

block content
   h1 Hi #{name}, Welcome to website!
   .img  
      img(src="/images/avt.png", class="w-10 h-10 img-fluid", style="height: 100px; width: 100px")

   a(href="/users") users list

